{
	auto_https off
	admin off
}

# Wallet API
:{$WALLET_BACKEND_PORT} {
    reverse_proxy http://mitmproxy:{$MITMPROXY_PORT} {
        header_up X-Target-Port {$WALLET_BACKEND_PORT}
    }
    
}

# Issuer API
:{$ISSUER_API_PORT} {
    reverse_proxy http://mitmproxy:{$MITMPROXY_PORT} {
        header_up X-Target-Port {$ISSUER_API_PORT}
    }
}

# Verifier API
:{$VERIFIER_API_PORT} {
    reverse_proxy http://mitmproxy:{$MITMPROXY_PORT} {
        header_up X-Target-Port {$VERIFIER_API_PORT}
    } 
}

# Web Demo Wallet Frontend
:{$DEMO_WALLET_FRONTEND_PORT} {
    reverse_proxy http://mitmproxy:{$MITMPROXY_PORT} {
        header_up X-Target-Port {$DEMO_WALLET_FRONTEND_PORT}
    }
    
}

# Web Dev Wallet Frontend
:{$DEV_WALLET_FRONTEND_PORT} {
    reverse_proxy http://mitmproxy:{$MITMPROXY_PORT} {
        header_up X-Target-Port {$DEV_WALLET_FRONTEND_PORT}
    }
}

# Web Portal
:{$WEB_PORTAL_PORT} {
    reverse_proxy http://mitmproxy:{$MITMPROXY_PORT} {
        header_up X-Target-Port {$WEB_PORTAL_PORT}
    }  
}

# VC Repo
:{$VC_REPO_PORT} {
    reverse_proxy http://mitmproxy:{$MITMPROXY_PORT} {
        header_up X-Target-Port {$VC_REPO_PORT}
    } 
}

# pgAdmin
:{$PG_ADMIN_PORT} {
    reverse_proxy http://mitmproxy:{$MITMPROXY_PORT} {
        header_up X-Target-Port {$PG_ADMIN_PORT}
    }  
}